*.orig
bin
obj
packages
.vscode
.vs
secrets
srt
/.vs/ProjectEvaluation/qcs-product.metadata.v7.bin
/.vs/ProjectEvaluation/qcs-product.projects.v7.bin
/.vs/qcs-product/v17/.futdcache.v2
/qcs-product.API/obj/Release/net6.0/qcs-product.API.assets.cache
/qcs-product.API/obj/Release/net6.0/qcs-product.API.csproj.AssemblyReference.cache
/qcs-product.API/obj/Release/net6.0/qcs-product.API.GeneratedMSBuildEditorConfig.editorconfig
/qcs-product.API/obj/project.assets.json
/qcs-product.API/obj/project.nuget.cache
/qcs-product.API/obj/qcs-product.API.csproj.nuget.dgspec.json
/qcs-product.API/obj/qcs-product.API.csproj.nuget.g.props
/qcs-product.Auth/obj/Release/net6.0/qcs-product.Auth.assets.cache
/qcs-product.Auth/obj/Release/net6.0/qcs-product.Auth.csproj.AssemblyReference.cache
/qcs-product.Auth/obj/Release/net6.0/qcs-product.Auth.GeneratedMSBuildEditorConfig.editorconfig
/qcs-product.Constants/obj/Debug/net6.0/qcs-product.Constants.assets.cache
/qcs-product.Constants/obj/Debug/net6.0/qcs-product.Constants.csproj.AssemblyReference.cache
/qcs-product.Constants/obj/Debug/net6.0/qcs-product.Constants.GeneratedMSBuildEditorConfig.editorconfig
/qcs-product.Constants/obj/Release/net6.0/qcs-product.Constants.assets.cache
/qcs-product.Constants/obj/Release/net6.0/qcs-product.Constants.GeneratedMSBuildEditorConfig.editorconfig
/qcs-product.Constants/obj/project.assets.json
/qcs-product.Constants/obj/project.nuget.cache
/qcs-product.Constants/obj/qcs-product.Constants.csproj.nuget.dgspec.json
/qcs-product.Constants/obj/qcs-product.Constants.csproj.nuget.g.props
/qcs-product.EventBus/obj/Debug/net6.0/qcs-product.EventBus.assets.cache
/qcs-product.EventBus/obj/Debug/net6.0/qcs-product.EventBus.csproj.AssemblyReference.cache
/qcs-product.EventBus/obj/Debug/net6.0/qcs-product.EventBus.GeneratedMSBuildEditorConfig.editorconfig
/qcs-product.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/qcs-product.UnitTests/bin/Release/net6.0/CoverletSourceRootsMapping
/qcs-product.UnitTests/obj/Debug/net6.0/qcs-product.UnitTests.assets.cache
/qcs-product.UnitTests/obj/Debug/net6.0/qcs-product.UnitTests.csproj.AssemblyReference.cache
/qcs-product.UnitTests/obj/Debug/net6.0/qcs-product.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/qcs-product.UnitTests/obj/Release/net6.0/qcs-product.UnitTests.assets.cache
/qcs-product.UnitTests/obj/Release/net6.0/qcs-product.UnitTests.csproj.AssemblyReference.cache
/qcs-product.UnitTests/obj/Release/net6.0/qcs-product.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/qcs-product.UnitTests/obj/project.assets.json
/qcs-product.UnitTests/obj/project.nuget.cache
/qcs-product.UnitTests/obj/qcs-product.UnitTests.csproj.nuget.dgspec.json
/qcs-product.UnitTests/obj/qcs-product.UnitTests.csproj.nuget.g.props
/qcs-product.API/obj/Debug/net6.0/ref/qcs_product.API.dll
/qcs-product.API/obj/Debug/net6.0/refint/qcs_product.API.dll
/qcs-product.API/obj/Debug/net6.0/apphost.exe
/qcs-product.API/obj/Debug/net6.0/qcs-product.API.csproj.CoreCompileInputs.cache
/qcs-product.API/obj/Debug/net6.0/qcs-product.API.csproj.FileListAbsolute.txt
/qcs-product.API/obj/Debug/net6.0/qcs-product.API.genruntimeconfig.cache
/qcs-product.API/obj/Debug/net6.0/qcs_product.API.dll
/qcs-product.API/obj/Debug/net6.0/qcs_product.API.pdb
/qcs-product.API/obj/Debug/net6.0/staticwebassets.build.json
/qcs-product.Auth/obj/Debug/net6.0/apphost.exe
/qcs-product.Auth/obj/Debug/net6.0/qcs-product.Auth.csproj.CoreCompileInputs.cache
/qcs-product.Auth/obj/Debug/net6.0/qcs-product.Auth.csproj.FileListAbsolute.txt
/qcs-product.Auth/obj/Debug/net6.0/qcs-product.Auth.genruntimeconfig.cache
/qcs-product.Auth/obj/Debug/net6.0/qcs_product.Auth.dll
/qcs-product.Auth/obj/Debug/net6.0/qcs_product.Auth.pdb
/qcs-product.Auth/obj/Debug/net6.0/staticwebassets.build.json
/qcs-product.Constants/bin/Debug/net6.0/qcs_product.Constants.dll
/qcs-product.Constants/bin/Debug/net6.0/qcs_product.Constants.pdb
/qcs-product.Constants/obj/Debug/net6.0/qcs-product.Constants.csproj.CoreCompileInputs.cache
/qcs-product.Constants/obj/Debug/net6.0/qcs-product.Constants.csproj.FileListAbsolute.txt
/qcs-product.Constants/obj/Debug/net6.0/qcs_product.Constants.dll
/qcs-product.Constants/obj/Debug/net6.0/qcs_product.Constants.pdb
/qcs-product.EventBus/bin/Debug/net6.0/qcs_product.EventBus.dll
/qcs-product.EventBus/bin/Debug/net6.0/qcs_product.EventBus.exe
/qcs-product.EventBus/bin/Debug/net6.0/qcs_product.EventBus.pdb
/qcs-product.EventBus/obj/Debug/net6.0/apphost.exe
/qcs-product.EventBus/obj/Debug/net6.0/qcs-product.EventBus.csproj.CoreCompileInputs.cache
/qcs-product.EventBus/obj/Debug/net6.0/qcs-product.EventBus.csproj.FileListAbsolute.txt
/qcs-product.EventBus/obj/Debug/net6.0/qcs-product.EventBus.genruntimeconfig.cache
/qcs-product.EventBus/obj/Debug/net6.0/qcs_product.EventBus.dll
/qcs-product.EventBus/obj/Debug/net6.0/qcs_product.EventBus.pdb
/qcs-product.Constants/obj/Debug/net6.0/ref/qcs_product.Constants.dll
/qcs-product.Constants/obj/Debug/net6.0/refint/qcs_product.Constants.dll
