<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="gitlab" value="https://gitlab.com/api/v4/projects/31345690/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
     <gitlab>
         <add key="Username" value="q100" />
         <add key="ClearTextPassword" value="sTMZyXMnm2H17AzjryWU" />
     </gitlab>
 </packageSourceCredentials>
</configuration>